<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form/create" method="POST">
        {%with messages = get_flashed_messages()%} 
        {% if messages %}                          
        {% for message in messages %}        
        <p>{{message}}</p>                  
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div>
            <label for="email_address">Email:</label>
            <input type="text" id="email_address" name="email_address">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>